<nav class="navbar is-transparent is-fixed">
  <div class="navbar-brand">
    <div class="navbar-item">
      <img src="/assets/logo.png" alt="Prospect" height="28">
    </div>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://bulma.io/">
        Team
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/documentation/overview/start/">
          Services
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/documentation/overview/start/">
            Hotel Management
          </a>
          <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
            Acquisitions & Development
          </a>
          <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
            Asset Management Consulting
          </a>
          <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
            Investment
          </a>
        </div>
      </div>
      <a class="navbar-item" href="https://bulma.io/">
        Portfolio
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000"
              target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=http://localhost:4000&amp;via=jgthms">
              <span class="icon">
                <i class="fas fa-phone"></i>
              </span>
              <span>
                Contact Us
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="contact _header -border-box" style="background-size: cover; background-image: url('/assets/hotel1.jpg'); height: 20rem;">
</div>

<div class="container services">
  <div class="management">
    <hr style="width: 12rem;" />
    <h1>Hotel Management</h1>
    <p class="content">Prospect Management is a national operator of hotels across the chain scale from focused service hotels, to lifestyle
      and resorts, to upper upscale Hotels. We have evolved over three decades as an Owner/Operator and are therefore uniquely
      qualified to approach hotel management from the owner’s perspective. Whether we are an investor or straight third party
      operator, we are always operating on behalf of capital partners and our role as entrusted stewards of the hotel assets
      we operate is to deliver for guests, for investors, and on the brand promise.</p>
  </div>
  <div class="acquisitions">
    <hr style="width: 8rem;" />
    <h1>Acquisitions & Development</h1>
    <p class="content">Prospect Management is a national operator of hotels across the chain scale from focused service hotels, to lifestyle
      and resorts, to upper upscale Hotels. We have evolved over three decades as an Owner/Operator and are therefore uniquely
      we operate is to deliver for guests, for investors, and on the brand promise.</p>
  </div>
  <div class="investment">
    <hr style="width: 5rem;" />
    <h1>Investment</h1>
    <p class="content">Prospect Management is a national operator of hotels across the chain scale from focused service hotels, to lifestyle
      and resorts, to upper upscale Hotels. We have evolved over three decades as an Owner/Operator and are therefore uniquely
      we operate is to deliver for guests, for investors, and on the brand promise.</p>
  </div>
</div>


<div class="container box" style="margin-top: 3rem;">
  <h1 style="text-align: center;" class="title">Team</h1>
  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="display: flex; margin: 5px; max-width: 480px;">
      <div style='flex-shrink: 0; background-image: url(/assets/hotel1.jpg); background-repeat: no-repeat; background-position: 50%; border-radius: 50%;width: 100px;height: 100px;'></div>
      <div style="margin-left: 1rem;">
        <hr style="width: 5rem; background-color: blue; height: 4px; margin: 0;" />
        <h1 class="subtitle is-4" style="margin-bottom: 0;">Manish Patel</h1>
        <div style="color: gray; font-size: 0.9rem;">Louisville, KY</div>
        <p>Seasoned people and operation manager, experienced with turning around operations.</p>
      </div>
    </div>
    <div style="display: flex; margin: 5px; max-width: 480px;">
      <div style='flex-shrink: 0; background-image: url(/assets/hotel1.jpg); background-repeat: no-repeat; background-position: 50%; border-radius: 50%;width: 100px;height: 100px;'></div>
      <div style="margin-left: 1rem;">
        <hr style="width: 5rem; background-color: blue; height: 4px; margin: 0;" />
        <h1 class="subtitle is-4" style="margin-bottom: 0;">Manish Patel</h1>
        <div style="color: gray; font-size: 0.9rem;">Louisville, KY</div>
        <p>Seasoned people and operation manager, experienced with turning around operations.</p>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 3rem;">
  <h1 class="title" style="text-align: center;">Portfolio</h1>
  <div class="hotels">
    <div class="hotel" style="background-image: url(/assets/hotel1.jpg); ">
      <div>
        <h1>Comfort Inn</h1>
        <h2>Louisville, KY</h2>
      </div>
    </div>
    <div class="hotel" style="background-image: url(/assets/hotel2.jpg); ">
      <div>
        <h1>Comfort Inn</h1>
        <h2>Louisville, KY</h2>
      </div>
    </div>
    <div class="hotel" style="background-image: url(/assets/hotel3.jpg); ">
      <div>
        <h1>Comfort Inn</h1>
        <h2>Louisville, KY</h2>
      </div>
    </div>
    <div class="hotel" style="background-image: url(/assets/hotel4.jpg); ">
      <div>
        <h1>Comfort Inn</h1>
        <h2>Louisville, KY</h2>
      </div>
    </div>
    <div class="hotel" style="background-image: url(/assets/hotel5.jpg); ">
      <div>
        <h1>Comfort Inn</h1>
        <h2>Louisville, KY</h2>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Prospect Management LLC. 2018, All rights reserved.
    </p>
  </div>
</footer>
