@import "~bulma";
.net-lease-1 {
  padding: 1rem;
}

.services {
  padding: 1rem;
  @include mobile() {
    // margin: 1rem;
  }
  .management {}
  .acquisitions {
    @include tablet() {
      margin-left: 10rem;
    }
  }
  .investment {
    @include tablet() {
      margin-left: 5rem;
    }
  }
  hr {
    background-color: red;
    height: 4px;
    margin-bottom: 0;
  }
  h1 {
    @extend .title;
    @extend .is-4;
    margin-bottom: 0 !important;
  }
}

.hotels {
  // style="display: flex; justify-content: center;"
  @extend .columns;
  .hotel {
    @extend .column;
    height: 300px;
    position: relative;
    background-size: cover;
    >div {
      color: #fff;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      width: 100%;
      text-align: right;
      h1 {
        font-weight: bold;
        font-size: 1.2rem;
      }
      h2 {
        font-size: 0.8rem;
      }
    }
  }
}

.team {
  .team-box {
    display: flex;
    margin: 5px;
    max-width: 480px;
  }
  .team-box-image {
    background-size: cover;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .team-box-detail {
    margin-left: 1rem;
    hr {
      width: 5rem;
      background-color: blue;
      height: 4px;
      margin: 0;
    }
    h1 {
      @extend .subtitle;
      @extend .is-4;
      margin-bottom: 0 !important;
    }
    div {
      color: gray;
      font-size: 0.9rem;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 100%;
  @include mobile() {
    flex-direction: column;
  }
  .logo {}
  .contact {}
}
