<div style="background-size: cover; background-image: url('/assets/hotel1.jpg'); height: 20rem;">
  <div class="container" style="height: 100%;">
    <div class="header">
      <h1 class="logo" class="title is-3" style="color: #fff;">Logo Goes Here</h1>
      <a class="button is-medium is-link is-rounded" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeHtErv_xGgmSHkaohRwNZxZ3z3p7f1QKoBxEw6wPOWV2PaLA/viewform?usp=sf_link">Contact Us</a>
    </div>
  </div>
</div>

<div class="container services">
  <div class="management">
    <hr style="width: 12rem;" />
    <h1>Hotel Management</h1>
    <p class="content">Prospect Management is a national operator of hotels across the chain scale from focused service hotels, to lifestyle
      and resorts, to upper upscale Hotels. We have evolved over three decades as an Owner/Operator and are therefore uniquely
      qualified to approach hotel management from the owner’s perspective. Whether we are an investor or straight third party
      operator, we are always operating on behalf of capital partners and our role as entrusted stewards of the hotel assets
      we operate is to deliver for guests, for investors, and on the brand promise.</p>
  </div>
  <div class="acquisitions">
    <hr style="width: 8rem;" />
    <h1>Acquisitions & Development</h1>
    <p class="content">We have in-depth knowledge about local markets and lucrative destinations around the globe, and have developed strong
      relationships with hotel owners and other hospitality professionals who can assist with property growth, expansion,
      and renovation phases.</p>
  </div>
  <div class="investment">
    <hr style="width: 5rem;" />
    <h1>Investment</h1>
    <p class="content">Prospect Management is a vertically integrated hotel conglomerate comprised of
      Prospect Investment, a privately held investment fund designed to acquire and develop hotel assets throughout the United States with
      a growing network of Accredited Investors.</p>
  </div>
</div>


<div class="container box team" style="margin-top: 3rem;">
  <h1 style="text-align: center;" class="title">Team</h1>
  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div class="team-box">
      <div class="team-box-image" style='background-image: url(/assets/people1.png);'></div>
      <div class="team-box-detail">
        <hr />
        <h1>Manish Patel</h1>
        <div>Louisville, KY</div>
        <p>Seasoned people and operation manager, experienced with turning around operations.</p>
      </div>
    </div>
    <div class="team-box">
      <div class="team-box-image" style='background-image: url(/assets/people1.png);'></div>
      <div class="team-box-detail">
        <hr />
        <h1>Manish Patel</h1>
        <div>Louisville, KY</div>
        <p>Seasoned people and operation manager, experienced with turning around operations.</p>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 3rem;">
  <h1 class="title" style="text-align: center;">Portfolio</h1>
  <div class="hotels">
    <div class="hotel" style="background-image: url(/assets/hotel1.jpg); ">
      <div>
        <h1>Comfort Inn</h1>
        <h2>Louisville, KY</h2>
      </div>
    </div>
    <div class="hotel" style="background-image: url(/assets/hotel2.jpg); ">
      <div>
        <h1>Comfort Inn</h1>
        <h2>Louisville, KY</h2>
      </div>
    </div>
    <div class="hotel" style="background-image: url(/assets/hotel3.jpg); ">
      <div>
        <h1>Comfort Inn</h1>
        <h2>Louisville, KY</h2>
      </div>
    </div>
    <div class="hotel" style="background-image: url(/assets/hotel4.jpg); ">
      <div>
        <h1>Comfort Inn</h1>
        <h2>Louisville, KY</h2>
      </div>
    </div>
    <div class="hotel" style="background-image: url(/assets/hotel5.jpg); ">
      <div>
        <h1>Comfort Inn</h1>
        <h2>Louisville, KY</h2>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Prospect Management LLC. 2018, All rights reserved.
    </p>
  </div>
</footer>
